# ビルド、テスト、リリースを行う
name: test

on:
  push:
    paths-ignore:
      - 'LICENSE'
      - 'README.*'
      - 'docs/*'

env:
  APP_NAME: 'tkcas'
  JAVA_VERSION: '14'
  JAVAFX_VERSION: '14.0.1'

jobs:
  skip:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Skip job"

  before:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[skip ci]')"
    steps:
      - run: echo "${{ github.event.head_commit.message }}"

  test:
    runs-on: ubuntu-latest
    needs: before
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          java-package: jdk
          architecture: x64
      - name: Install xvfb
        run: sudo apt install -y xvfb
      - name: Test
        run: xvfb-run ./gradlew test
      - name: Send coverage report
        run: bash <(curl -s https://codecov.io/bash)

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - windows-latest
          - macOS-latest
          - ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-java@v1
        with:
          java-version: '14'
          java-package: jdk
          architecture: x64
      - name: Build
        run: ORG_GRADLE_PROJECT_CI_VERSION="${GITHUB_REF##*/}" ORG_GRADLE_PROJECT_CI_COMMIT_HASH="$(git rev-parse HEAD)" ./gradlew build -x test
        shell: bash